@import "tailwindcss";

@theme {
  --color-pondok-50: #f0fdf4;
  --color-pondok-100: #dcfce7;
  --color-pondok-200: #bbf7d0;
  --color-pondok-300: #86efac;
  --color-pondok-400: #4ade80;
  --color-pondok-500: #22c55e;
  --color-pondok-600: #16a34a;
  --color-pondok-700: #15803d;
  --color-pondok-800: #166534;
  --color-pondok-900: #14532d;
  --color-pondok-950: #052e16;
}

/* Ubah dari @variant menjadi @custom-variant */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #020617;
  }

  .dark {
    --background: #052e16;
    --foreground: #f8fafc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
}